@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: white;
	background-image: url("http://www.1wallpaperhd.com/wp-content/uploads/Green/FTP1/2560x1440/Little%20flowers%20on%20the%20prairie%20Wallpapers%20HD%202560x1440.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding: 0px 100px;
}

/* Setting column widths for tables*/
table.fixed{
	table-layout:fixed; 
}
table.fixed td:nth-of-type(1){
	width:50%;
}
table.fixed td:nth-of-type(2){
	width:20%;
}
table.fixed td:nth-of-type(3){
	width:25%;
}
table.fixed td:nth-of-type(4){
	width:5%;
}
thead{
	color: orange;
}

/* Task row styling */
#task-list-wrapper{
	display: none;
}
#tasks-today, #tasks-week, #add-task-form{
	display: none;
}
#task-title{
	font-size: 20px;
}

/* Empty todo list styling */
#no-tasks{
	display: none;
	font-size: 150%;
}
.glyphicon-glass{
	font-size: 200%;
}

.error-msg{
	display: none;
}
#due-date, #settingsModal, #helpModal{
	color: black;
}
.navbar-btn{
	float: right;
}

nav{
	color: black;
	font-family: 'Indie Flower';
	text-align: center;
}
.navbar-default{
	background-color: orange;
}
#navbar-text{
	font-size: 35px;
}

#sidebar{
	position: relative;
	z-index: 2;
}
.sidebar-btn-group{
	color: black;
	background-color: orange;
}
